.home
{
    background-image: linear-gradient(
            rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("../group-of-dogs.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
}



.homeContent
{
    position: absolute;
    margin-left: 0;
    margin-top: 5%;
    width:100%;
}
