.homeMenuButton,
.whydogMenuButton,
.popdogsMenuButton,
.comparedogsMenuButton,
.lostdogMenuButton,
.announcementMenuButton,
.dropbtn,
.dropdown {
    display: inline-block;
    margin-top: 30px;
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.homeMenuButton,
.whydogMenuButton:hover,
.popdogsMenuButton:hover,
.comparedogsMenuButton:hover,
.lostdogMenuButton:hover,
.announcementMenuButton:hover,
.dropbtn:hover {
    border: 1px solid white;
}

.dropdown {
    margin-top: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: darkolivegreen;
    min-width: 110px;
    max-width: 130px;
    /*margin-top: 5px;*/
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 5px 10px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {background-color: olivedrab;}

